@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.container {
  background-image: url("HeroImage.jpg");
  background-position: center;
  background-size: cover;
  height: 770px;
  width: 1440px;
}
.logo {
  width: 100px;
  height: 35px;
}
.icon {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 20px;
  width: 100px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: white;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pure-magic {
  margin-top: 100px;
  font-weight: 400;
  color: #e8edf2b8;
  font-size: 64px;
  width: 100%;
  text-align: center;
}
.awaits {
  margin-top: 2px;
  font-size: 200px;
  color: #fdfdfe;
  width: 100%;
  text-align: center;
}
.on {
  color: #ffffffcc;
  font-size: 64px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
#photo-1 {
  background-image: url(zurag-2.jpg);
  background-position: center;
  background-size: cover;
  height: 370px;
  width: 252px;
  border: solid 2px black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfe;
  font-size: 25px;
}
#photo-1:hover {
  opacity: 0.5;
}
#photo-2 {
  background-image: url(zurag-1.jpg);
  background-position: center;
  background-size: cover;
  height: 370px;
  width: 252px;
  border: solid 2px black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfe;
  font-size: 25px;
}
#photo-2:hover {
  opacity: 0.5;
}
#photo-3 {
  background-image: url(zurag-1.jpg);
  background-position: center;
  background-size: cover;
  height: 370px;
  width: 252px;
  border: solid 2px black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfe;
  font-size: 25px;
}
#photo-3:hover {
  opacity: 0.5;
}
#photo-4 {
  background-image: url(zurag-4.jpg);
  background-position: center;
  background-size: cover;
  height: 370px;
  width: 252px;
  border: solid 2px black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfe;
  font-size: 25px;
}
#photo-4:hover {
  opacity: 0.5;
}

.all-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#image {
  background-image: url(Location\ image.jpg);
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 500px;
}
.all-text {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.roadmap {
  background-image: url(Roadmap\ image.jpg);
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 1022px;
}
.all-things {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #8bb8c1cc;
  background-color: #8bb8c1cc;
  border-radius: 120px;
  width: 513px;
  height: 112px;
  padding-left: 20px;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 6px;
  padding-top: 6px;
}
.icon {
  width: 25px;
  height: 25px;
}
.zuil {
  display: flex;
}
.circle {
  height: 48px;
  width: 52px;
  border-radius: 25px;
  color: black;
  background-color: #fdfdfe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  display: flex;
  justify-content: center;
  font-size: 42px;
  font-weight: 600;
}
.class {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: gray;
}

.sukhe {
  font-size: 24px;
  font-weight: 500;
}
.all-things-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px tan;
  background-color: tan;
  border-radius: 120px;
  width: 513px;
  height: 112px;
  padding-left: 20px;
}
.all-things-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #aad8d7cc;
  background-color: #aad8d7cc;
  border-radius: 120px;
  width: 513px;
  height: 112px;
  padding-left: 20px;
}
.all-things-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #8bc0bdcc;
  background-color: #8bc0bdcc;
  border-radius: 120px;
  width: 513px;
  height: 112px;
  padding-left: 20px;
}
.all-things-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #97cce0cc;
  background-color: #97cce0cc;
  border-radius: 120px;
  width: 513px;
  height: 112px;
  padding-left: 20px;
}
#sukheeah {
  background-image: url(sha.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 400px;
  top: 1500px;
  width: 249px;
  height: 249px;
  opacity: 0;
}

.all-things:hover ~ #sukheeah {
  opacity: 1;
}
.all-things:hover {
  border: 2px solid white;
}
#gandan {
  background-image: url(gandantypeshi.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 600px;
  top: 1500px;
  width: 249px;
  height: 249px;
  opacity: 0;
}
.all-things-1:hover ~ #gandan {
  opacity: 1;
}
.all-things-1:hover {
  border: 2px solid white;
}
#dalai {
  background-image: url(Frame\ 178.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 700px;
  top: 1400px;
  width: 249px;
  height: 249px;
  opacity: 0;
}
.all-things-2:hover ~ #dalai {
  opacity: 1;
}
.all-things-2:hover {
  border: 2px solid white;
}
#togoo {
  background-image: url(togo.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 500px;
  top: 1700px;
  width: 249px;
  height: 249px;
  opacity: 0;
}
.all-things-3:hover ~ #togoo {
  opacity: 1;
}
.all-things-3:hover {
  border: 2px solid white;
}
#medq {
  background-image: url(Frame\ 179.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 600px;
  top: 1600px;
  width: 249px;
  height: 249px;
  opacity: 0;
}
.all-things-4:hover ~ #medq {
  opacity: 1;
}
.all-things-4:hover {
  border: 2px solid white;
}
.last-section {
  background-image: url(Price&Footer\ image.jpg);
  background-size: cover;
  background-position: center;
  height: 1120px;
  width: 1440px;
  display: flex;
}
.last-text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-text {
  display: flex;
  justify-content: center;
  font-size: 42px;
  font-weight: 600;
}
.side-text {
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 20px;
  font-weight: 500;
}
.first-card {
  border: 2px solid white;
  height: 527px;
  width: 384px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-evenly;
}

.heart-logo {
  height: 24px;
  width: 19px;
}
.both {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 14px;
  padding-top: 14px;
  padding-left: 8px;
}
.brr-text {
  font-size: 18px;
  font-weight: 500;
}
.money {
  font-size: 40px;
  font-weight: 600;
}
.zurg {
  width: 20px;
  height: 20px;
}
.mdq {
  font-size: 18px;
}
.package-section {
  width: 336px;
  height: 48px;
  border: 1px #a4d1e2 solid;
  border-radius: 200px;
  background-color: #a4d1e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.package-section:hover {
  opacity: 0.5;
}
section-hoyr {
  display: flex;
  gap: 20px;
}

.fb {
  width: 167px;
  height: 43px;
  border: 2px solid blue;
  background-color: white;
  border-radius: 100px;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fb-2 {
  width: 25px;
  height: 25px;
}
.bugdere {
  display: flex;
  align-items: start;
}
.sd-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.last-section {
  display: flex;
  flex-direction: column;
}
